-----BEGIN CERTIFICATE-----
MIIDRzCCAi+gAwIBAgIBATANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDEwlsb2Nh
bGhvc3QwHhcNMTgxMDExMTM0NTI3WhcNMjgxMDExMTM0NTI3WjAUMRIwEAYDVQQD
Ewlsb2NhbGhvc3QwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCAIrei
wh6d+yCXnYbDN3OTWfi12gdA6FFVLvnfHG8lfBTUWz/j1GgXYZ+FBzGtlHG/E4sb
UFlqGAxji27wHcg9/+I0tguhMwf/4AHhUpvAlhBhQW4ACQRNPnu+wtSs51TcGYZl
jngcEFL6Ncs+sHv6ngnjReualuY93HNAFFnyGBVHbVW58CeAiAXodcHEJ9bWEj2Y
Vg3V+pI97HMJsHtQeFbcXTL4PuMn70UKuIAJQdm6LpensXt2MWk1ll22JRXNkr97
CLxBJ1smiJbJ2OfCE7AGFFgQMVag5P4i6OMsHnzZoqUhG86N/FgHCEDf2DcLCSMk
Pc5EgHbak/Pni6MlAgMBAAGjgaMwgaAwDAYDVR0TBAUwAwEB/zALBgNVHQ8EBAMC
AvQwOwYDVR0lBDQwMgYIKwYBBQUHAwEGCCsGAQUFBwMCBggrBgEFBQcDAwYIKwYB
BQUHAwQGCCsGAQUFBwMIMBEGCWCGSAGG+EIBAQQEAwIA9zAUBgNVHREEDTALgAls
b2NhbGhvc3QwHQYDVR0OBBYEFGOrixXpBovDAJFte8vJz0IY04YWMA0GCSqGSIb3
DQEBCwUAA4IBAQACTarRsHiTryoUbXZ/1PoX0nKSCBTPDVf2Pm8bct8EXL4sFfNL
zDOgArbywhPA+Y3nK4/rwlNorY7VFZG2xjlImsGX4ZRdfQ4MnKty8DwXyjpRQeku
gbSwELv73niAJxLhE1jR6v1tl50vdhYu22AJlvTQmuogQG32ub7uPvFjpHgYEDDV
uNltVJjLdIeLhnZo+zV2GYSi7z5p02KXrRwhhWktzZG4JyYem+TQPrTdAxW5PWO7
HXrW2BloXTqEQ5QeBts9E6VNabpstxNtEYZ/E0roqxOQqgfcrGS5hcm8OJREwYX/
jLdBp6Mo8SZm2vN/X7PvNGeL5zCEv96XRrZs
-----END CERTIFICATE-----