-----BEGIN CERTIFICATE-----
MIIFizCCA3OgAwIBAgIURA88v4xS12D0wz8z4Y3yp8dZFBowDQYJKoZIhvcNAQEL
BQAwVTELMAkGA1UEBhMCRVMxEzARBgNVBAgMClNvbWUtU3RhdGUxDTALBgNVBAcM
BGNpdHkxIjAgBgNVBAoMGVN5bWZvbnkgS2lja3N0YXJ0IFByb2plY3QwHhcNMjAw
NzE0MjIxNTQwWhcNMzAwNzEyMjIxNTQwWjBVMQswCQYDVQQGEwJFUzETMBEGA1UE
CAwKU29tZS1TdGF0ZTENMAsGA1UEBwwEY2l0eTEiMCAGA1UECgwZU3ltZm9ueSBL
aWNrc3RhcnQgUHJvamVjdDCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIB
ALSNCyjgiaQYIavDY1nJtu6PjuyQ8ewH+ivUy/IvUsWhEjwBlT5AzhtDzIICTz4y
u30EnwOqZnKPwmv7CqlWmpwY7fgDt7VXE3iGb2y5BPKdHA0cYZvlfqDDKiIa8wly
HvAUj121Ko+33S9SQ+2obsd+NXsVcs0ecN/UxBdiGFZXZvNpYJDn4dftsIPprw/O
ZR0gxiFExm9oJCaX5q8a8qey6ARvw8D06/DhcgZ8l7enswpEHPk9MQexEQxfGq/4
l9Fj9MKVxzJTFWU6rPqvgyss/robZrbO2lJEZEDyraUaranZM3bivp6QIH7bmJpT
0hKuYjMno4SceTmF/zGJiqMQ4rYOAXZvjC0rmUA8rdUmIOkTd9lRY/KT+zDfNGzE
tcEB1hz2zQ1tywB6182+9nmHd63ccNr5frElhVNJ/HyA+BZeXT4taxoPtJD/sqVk
gQJDlUagj4l1chJlxQdfWoeh6O7GZ4Uebi6TUrW6j6Ft6DI8bB0PXjljv/9r7gzv
KnBQ9WQ3nOCfDRNHd1LtWpnDz9QDq6PCNV02pzzIiwvYRnC4KHMkpQdXG0oXRICz
Tjsqkx8gt/xDscgwAHAEX3kJIY14s3VtMt9t1OJl5zkyVuhVnuHI/g++/IpFb6wk
n0uzqgDxbzoEPJ1/e7U4oq0kxKzaZvOqwhry5H5x33IfAgMBAAGjUzBRMB0GA1Ud
DgQWBBTbLPyLtWkpCxiHw5f5Ymi86d58WjAfBgNVHSMEGDAWgBTbLPyLtWkpCxiH
w5f5Ymi86d58WjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4ICAQA4
fyBrfQT8UOZDDV25Swk5Zse5eW3pc/YDRBGvI5NBr6wBhEbp12G4zSnBa9L45Ooe
6G0VHiE9DaHf4rzQ0A+m+FRzeMiwyDzTPEpUxpxwdYirwxn4Xn/jaaLGWKwroPkm
S/WDimwDQs34TWi0EOceY79sqNZiJ80ZS3YnCRu9CnQa5wLaBKg7ftRjbhmRmSg/
hBSBwgFVBNplSQYY6WT+HQo+SvrX8Z+cZh5/HrMfwHktLEWLOJngw66EitpoB53G
gzNVUWusJHuhcC9IDPcPEC4crQJBOlkv3vB5DplzJOZ0Uw9cNKRDbj+rGyowBasQ
Ts05FVVg5Ga0of7a3ixtf7xx42NMs9pLT9RQEfFCDjFW4xfUQMDnNvoPEkn8+7oL
0NWd4ISxGGW9M5IiClmHZJhaf/K92+V8aMXNsBfg+3L/rVIw1PVZCoXJLXhfFFf2
ZUfcaAP/+aF+ge1OpwJUX9TjL7WmcYjKbJ0EnRxXV1uO+s47lrv72rnvyYnVPUKU
2vbUsTXU6xV/ACVG4NwLNItUTwu8H9fYNEE36dcmSPpoNVPJksxuDtThlifhb/XW
kt9w5R3JxKlU9b3t0PlCSBl/sIDHsd419W4XAdYYVvJ3ykjPVgN47whWiPD/zXdS
noobe/0iXVsXrbmEMtdsxP0ZJhS4XB58LeBJkWR/bg==
-----END CERTIFICATE-----