
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/.env
/automation/terraform/.terraform/
/automation/terraform/terraform.tfstate
/automation/terraform/terraform.tfstate.backup
/automation/terraform/terraform.tfvars
