# AWS usage and connection related configuration
aws_profile = "myAWSProfileName"
region      = "eu-west-1"
public_key  = "~/.ssh/somePublicKey.pub"
private_key = "~/.ssh/somePrivateKey.pem"

# EC2 base configuration (using ami for ubuntu 18.04 in eu-west-1
ec2_size         = "t2.micro"
amis             = {
  "eu-west-1" = "ami-089cc16f7f08c4457"
}
ansible_user     = "ubuntu"
application_name = "myApplication"

# Networking configuration
cidr_vpc             = "10.1.0.0/16"
cidr_subnet          = "10.1.0.0/24"
webserver_private_ip = "10.1.0.10"
dbserver_private_ip  = "10.1.0.20"

# S3 bucket name for continuous integration (used by CodeDeploy to transfer files from Github)
deployment_s3_bucket = "your-unique-bucket-name-spk-deployment"